.header {

    &_container {
        display: flex;
        justify-content: space-around;
     
        
    }
}

.nav_element {
    color: rgba(255,255,255, 0.9);
    text-decoration: none;
    padding: 2rem 1rem 2rem 1rem;
    font-size: 1.5rem;

    &:hover {
        background-color: white;
        color: black;
    }

}

.logo {
    font-size: 3rem;
    color: rgba(255,255,255, 0.9);
}

video {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}